<html>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <google-map>
            <google-map-markers v-bind:places="iceCreamShops"></google-map-markers>
        </google-map>
        <google-map>
            <google-map-region-region v-bind:shape="cityBoundaries">
                <google-map-markers v-bind:places="iceCreamShops"></google-map-markers>
            </google-map-region-region>
        </google-map>

        <!-- 访问父级组件实例 -->
        <google-map>
            <google-map-markers v-bind:place="iceCreamShops"></google-map-markers>
        </google-map>
        <google-map>
            <google-map-region v-bind:shape="cityBoundaries">
                <google-map-markers v-bind:places="iceCreamShops"></google-map-markers>
            </google-map-region>
        </google-map>

        <!-- 访问子组件实例或子元素 -->
        <base-input ref="usernameInput"></base-input>
        <input ref="input">


        <!-- 依赖注入 -->
        <google-map>
            <google-map-region v-bind:shape="cityBoundaries">
                <google-map-markers v-bind:places="iceCreamShops"></google-map-markers>
            </google-map-region>
        </google-map>
        
        <p>
            <span>{{ folder.name }}</span>
            <tree-folder-contents :children="folder.children"/>
        </p>
        <ul>
            <li v-for="child in children">
                <tree-folder v-if="child.children" :folder="child"/>
                <span v-else>{{ child.name }}</span>
            </li>
        </ul>
        <script>
            new Vue({
                data:{
                    foo:1
                },
                computed:{
                    bar:function(){/*...*/}
                },
                methods:{
                    baz:function(){/*...*/}
                }
            })

            // 获取根组件的数据
            this.$root.foo
            // 写入根组件的数据
            this.$root.foo = 2
            // 访问根组件的技术属性
            this.$root.bar
            // 调用根组件的方法
            this.$root.baz()


            var map = this.$parent.map || this.$parent.$parent.map

            this.$refs.usernameInput

            methods:{
                // 用来从父级组件聚集输入框
                focus:function(){
                    this.$refs.input.focus()
                }
            }

            this.$refs.usernameInput.focus()

            provide:function(){
                return{
                    getMap:this.getMap
                }
            }

            inject:['getMap']


            // 一次性将这个日期选择器附加到一个输入框上
            // 它会被挂载到 DOM 上
            mounted:function(){
                // Pikaday 是一个第三方日期选择器的库
                this.picker = new Pikaday({
                    field:this.$refs.input,
                    format:"YYY-MM-DD"
                })
            },
            // 在组件被销毁之前，
            // 也销毁这个日期选择器
            beforeDestroy:function(){
                this.picker.destroy()
            }

            mounted:function(){
                var picker = new Pikaday({
                    field:this.$refs.input,
                    format:"YYY-MM-DD"
                })

                this.$once('hook:beforeDestroy',function(){
                    picker.destroy()
                })
            }

            mounted:function(){
                this.attachDatepicker('startDateInput')
                this.attachDatepicker('endDateInput')
            },
            methods:{
                attachDatepicker:function(refName){
                    var picker = new Pikaday({
                        field : this.$refs[refName],
                        format:"YYY-MM-DD"
                    })

                    this.$once('hook:beforeDestroy',function(){
                        picker.destroy()
                    })
                }
            }

            Vue.component('unique-name-of-my-component',{
                template:'<div><stack-overflow></stack-overflow></div>'
            })

            beforeCreate:function(){
                this.$options.components.TreeFolderContents = require('./tree-folder-contents.vue').default
            }
            
            component:{
                TreeFolderContents:() => import('./tree-folder-contents.vue')
            }
        </script>
    </body>
</html>